* {
    box-sizing: border-box;
}

p {
    font-size: 14px;
    text-align: left;
}

#game-headr {
    padding: 20px;
}

#game-title {
    margin-bottom: 20px;
}

img {
    padding: 10px 5px 10px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

button {
    background-color: royalblue;
    margin: 20px;
}

@media only screen and (max-width: 480px){
    img {
        width: 50px;
    }
}